Latihan/4SC1WCFClient/4SC1WCFClient/Service References/BarangService/Barang.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Barang" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:27659/Barang.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:27659/Barang.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:27659/Barang.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_4SC1WCFServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBarang_getAllBarang_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllBarang" />
  </wsdl:message>
  <wsdl:message name="IBarang_getAllBarang_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllBarangResponse" />
  </wsdl:message>
  <wsdl:message name="IBarang_insertBarang_InputMessage">
    <wsdl:part name="parameters" element="tns:insertBarang" />
  </wsdl:message>
  <wsdl:message name="IBarang_insertBarang_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertBarangResponse" />
  </wsdl:message>
  <wsdl:message name="IBarang_getBarangByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getBarangByID" />
  </wsdl:message>
  <wsdl:message name="IBarang_getBarangByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBarangByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBarang_deleteBarang_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteBarang" />
  </wsdl:message>
  <wsdl:message name="IBarang_deleteBarang_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteBarangResponse" />
  </wsdl:message>
  <wsdl:portType name="IBarang">
    <wsdl:operation name="getAllBarang">
      <wsdl:input wsaw:Action="http://tempuri.org/IBarang/getAllBarang" message="tns:IBarang_getAllBarang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBarang/getAllBarangResponse" message="tns:IBarang_getAllBarang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertBarang">
      <wsdl:input wsaw:Action="http://tempuri.org/IBarang/insertBarang" message="tns:IBarang_insertBarang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBarang/insertBarangResponse" message="tns:IBarang_insertBarang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBarangByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IBarang/getBarangByID" message="tns:IBarang_getBarangByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBarang/getBarangByIDResponse" message="tns:IBarang_getBarangByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteBarang">
      <wsdl:input wsaw:Action="http://tempuri.org/IBarang/deleteBarang" message="tns:IBarang_deleteBarang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBarang/deleteBarangResponse" message="tns:IBarang_deleteBarang_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBarang" type="tns:IBarang">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllBarang">
      <soap:operation soapAction="http://tempuri.org/IBarang/getAllBarang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertBarang">
      <soap:operation soapAction="http://tempuri.org/IBarang/insertBarang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBarangByID">
      <soap:operation soapAction="http://tempuri.org/IBarang/getBarangByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBarang">
      <soap:operation soapAction="http://tempuri.org/IBarang/deleteBarang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Barang">
    <wsdl:port name="BasicHttpBinding_IBarang" binding="tns:BasicHttpBinding_IBarang">
      <soap:address location="http://localhost:27659/Barang.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>