Latihan/4SC1WCFClient/4SC1WCFClient/Service References/BarangService/Barang1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27659/Barang.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_4SC1WCFServer" />
  <xs:element name="getAllBarang">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllBarangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_4SC1WCFServer" minOccurs="0" name="getAllBarangResult" nillable="true" type="q1:ArrayOfBarangInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertBarang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/_4SC1WCFServer" minOccurs="0" name="data" nillable="true" type="q2:BarangInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertBarangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertBarangResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBarangByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBarangByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/_4SC1WCFServer" minOccurs="0" name="getBarangByIDResult" nillable="true" type="q3:ArrayOfBarangInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBarang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBarangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteBarangResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>