Latihan/4SC1PraktikumClient/4SC1PraktikumClient/Service References/PegawaiService/Pegawai.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Pegawai" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:35098/Pegawai.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:35098/Pegawai.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:35098/Pegawai.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_4SC1PraktikumService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPegawai_getPegawaiInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getPegawaiInfo" />
  </wsdl:message>
  <wsdl:message name="IPegawai_getPegawaiInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPegawaiInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IPegawai_getPegawaiID_InputMessage">
    <wsdl:part name="parameters" element="tns:getPegawaiID" />
  </wsdl:message>
  <wsdl:message name="IPegawai_getPegawaiID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPegawaiIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPegawai_getPegawaiLastID_InputMessage">
    <wsdl:part name="parameters" element="tns:getPegawaiLastID" />
  </wsdl:message>
  <wsdl:message name="IPegawai_getPegawaiLastID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPegawaiLastIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPegawai_insertPegawai_InputMessage">
    <wsdl:part name="parameters" element="tns:insertPegawai" />
  </wsdl:message>
  <wsdl:message name="IPegawai_insertPegawai_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertPegawaiResponse" />
  </wsdl:message>
  <wsdl:message name="IPegawai_updatePegawai_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePegawai" />
  </wsdl:message>
  <wsdl:message name="IPegawai_updatePegawai_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePegawaiResponse" />
  </wsdl:message>
  <wsdl:message name="IPegawai_deletePegawai_InputMessage">
    <wsdl:part name="parameters" element="tns:deletePegawai" />
  </wsdl:message>
  <wsdl:message name="IPegawai_deletePegawai_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletePegawaiResponse" />
  </wsdl:message>
  <wsdl:portType name="IPegawai">
    <wsdl:operation name="getPegawaiInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPegawai/getPegawaiInfo" message="tns:IPegawai_getPegawaiInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPegawai/getPegawaiInfoResponse" message="tns:IPegawai_getPegawaiInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPegawaiID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPegawai/getPegawaiID" message="tns:IPegawai_getPegawaiID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPegawai/getPegawaiIDResponse" message="tns:IPegawai_getPegawaiID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPegawaiLastID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPegawai/getPegawaiLastID" message="tns:IPegawai_getPegawaiLastID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPegawai/getPegawaiLastIDResponse" message="tns:IPegawai_getPegawaiLastID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertPegawai">
      <wsdl:input wsaw:Action="http://tempuri.org/IPegawai/insertPegawai" message="tns:IPegawai_insertPegawai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPegawai/insertPegawaiResponse" message="tns:IPegawai_insertPegawai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePegawai">
      <wsdl:input wsaw:Action="http://tempuri.org/IPegawai/updatePegawai" message="tns:IPegawai_updatePegawai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPegawai/updatePegawaiResponse" message="tns:IPegawai_updatePegawai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletePegawai">
      <wsdl:input wsaw:Action="http://tempuri.org/IPegawai/deletePegawai" message="tns:IPegawai_deletePegawai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPegawai/deletePegawaiResponse" message="tns:IPegawai_deletePegawai_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPegawai" type="tns:IPegawai">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPegawaiInfo">
      <soap:operation soapAction="http://tempuri.org/IPegawai/getPegawaiInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPegawaiID">
      <soap:operation soapAction="http://tempuri.org/IPegawai/getPegawaiID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPegawaiLastID">
      <soap:operation soapAction="http://tempuri.org/IPegawai/getPegawaiLastID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPegawai">
      <soap:operation soapAction="http://tempuri.org/IPegawai/insertPegawai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePegawai">
      <soap:operation soapAction="http://tempuri.org/IPegawai/updatePegawai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePegawai">
      <soap:operation soapAction="http://tempuri.org/IPegawai/deletePegawai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pegawai">
    <wsdl:port name="BasicHttpBinding_IPegawai" binding="tns:BasicHttpBinding_IPegawai">
      <soap:address location="http://localhost:35098/Pegawai.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>