Latihan/4SC1PraktikumClient/4SC1PraktikumClient/Service References/PegawaiService/Pegawai1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_4SC1PraktikumService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_4SC1PraktikumService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPegawaiInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PegawaiInfo" nillable="true" type="tns:PegawaiInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPegawaiInfo" nillable="true" type="tns:ArrayOfPegawaiInfo" />
  <xs:complexType name="PegawaiInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDPegawai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NamaPegawai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="alamatPegawai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="jeniskelaminPegawai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="teleponPegawai" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PegawaiInfo" nillable="true" type="tns:PegawaiInfo" />
</xs:schema>