Latihan/4SC1PraktikumClient/4SC1PraktikumClient/Service References/PegawaiService/Pegawai2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:35098/Pegawai.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_4SC1PraktikumService" />
  <xs:element name="getPegawaiInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPegawaiInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_4SC1PraktikumService" minOccurs="0" name="getPegawaiInfoResult" nillable="true" type="q1:ArrayOfPegawaiInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPegawaiID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPegawaiIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/_4SC1PraktikumService" minOccurs="0" name="getPegawaiIDResult" nillable="true" type="q2:ArrayOfPegawaiInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPegawaiLastID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPegawaiLastIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPegawaiLastIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPegawai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/_4SC1PraktikumService" minOccurs="0" name="data" nillable="true" type="q3:PegawaiInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertPegawaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertPegawaiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePegawai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/_4SC1PraktikumService" minOccurs="0" name="data" nillable="true" type="q4:PegawaiInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePegawaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePegawaiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePegawai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePegawaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePegawaiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>