Latihan/4SC1WCFClient/4SC1WCFClient/Service References/CalculatorService/Calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calculator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:27659/Calculator.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:27659/Calculator.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:27659/Calculator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_4SC1WCFServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_addNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:addNumber" />
  </wsdl:message>
  <wsdl:message name="ICalculator_addNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_multiplyNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:multiplyNumber" />
  </wsdl:message>
  <wsdl:message name="ICalculator_multiplyNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:multiplyNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_substractNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:substractNumber" />
  </wsdl:message>
  <wsdl:message name="ICalculator_substractNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:substractNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_divideNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:divideNumber" />
  </wsdl:message>
  <wsdl:message name="ICalculator_divideNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:divideNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_divideNumber_MyFaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/_4SC1WCFServer" name="detail" element="q1:MyFaultException" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="addNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/addNumber" message="tns:ICalculator_addNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/addNumberResponse" message="tns:ICalculator_addNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="multiplyNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/multiplyNumber" message="tns:ICalculator_multiplyNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/multiplyNumberResponse" message="tns:ICalculator_multiplyNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="substractNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/substractNumber" message="tns:ICalculator_substractNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/substractNumberResponse" message="tns:ICalculator_substractNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="divideNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/divideNumber" message="tns:ICalculator_divideNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/divideNumberResponse" message="tns:ICalculator_divideNumber_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICalculator/divideNumberMyFaultExceptionFault" name="MyFaultExceptionFault" message="tns:ICalculator_divideNumber_MyFaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculator" type="tns:ICalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addNumber">
      <soap:operation soapAction="http://tempuri.org/ICalculator/addNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplyNumber">
      <soap:operation soapAction="http://tempuri.org/ICalculator/multiplyNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="substractNumber">
      <soap:operation soapAction="http://tempuri.org/ICalculator/substractNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="divideNumber">
      <soap:operation soapAction="http://tempuri.org/ICalculator/divideNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyFaultExceptionFault">
        <soap:fault use="literal" name="MyFaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculator">
    <wsdl:port name="BasicHttpBinding_ICalculator" binding="tns:BasicHttpBinding_ICalculator">
      <soap:address location="http://localhost:27659/Calculator.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>