Latihan/4SC1WCFClient/4SC1WCFClient/Service References/CalculatorService/Calculator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:int" />
        <xs:element minOccurs="0" name="num2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multiplyNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:int" />
        <xs:element minOccurs="0" name="num2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="multiplyNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="multiplyNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="substractNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:int" />
        <xs:element minOccurs="0" name="num2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="substractNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="substractNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="divideNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:int" />
        <xs:element minOccurs="0" name="num2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="divideNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="divideNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>